<%= flash[:notice] if flash%>
<h1>任務列表</h1>

<%= link_to '新增任務', new_task_path %>


<table>
  <tr>
    <td>任務</td>
    <td>內容</td>
    <td>任務結束時間</td>
  </tr>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.name, task_path(task.id) %></td>
      <td><%= task.content %></td>
      <td><%= task.endtime %></td>
      <td><%= link_to '編輯', edit_task_path(task.id) %></td>
      <td><%= link_to '刪除', task_path(task.id), method:'delete', data: {confirm:'確定刪除？'} %></td>
    </tr>
  <% end %>
</table>