<h1 class="task-new">Task New</h1>
<% if @task.errors.any? %>
  <ul>
    <%= @task.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(@task) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>
  <div>
    <%= form.label :endtime %>
    <%= form.datetime_field :endtime %>
  </div>
  <div>
    <%= form.label :priority %>
    <%= form.select(:priority, options_for_select(["hight", "medium", "low"])) %>
  </div>
  <div>
    <%= form.submit '新增任務' %>
  </div>
<% end %>